.p-custom-icon {
  display: inline-block;
  height: 24px;
  width: 24px;

  &.small {
    height: 16px;
    width: 16px;
  }

  svg path {
    &.fill-white {
      fill: $white;
    }
  }

  svg.default,
  path.half-opacity {
    opacity: 0.54;
  }

  svg.hover {
    display: none;
    opacity: 1;

    path.hover-fill {
      fill: $customicon-hover-default;
    }
  }

  &.active {
    svg.default {
      opacity: 1;
    }
  }

  &.hovered,
  &.selected {
    svg.default {
      display: none;
    }

    svg.hover {
      display: inline-block;
    }
  }

  // Unique colours
  svg.icon-pin-on path {
    fill: $customicon-pin-on;
  }
}
