.p-custom-icon {
  display: inline-block;
  height: 24px;
  width: 24px;

  &.small {
    height: 16px;
    width: 16px;
  }

  svg.default {
    opacity: 0.54;
  }

  svg.hover {
    display: none;
    opacity: 1;
  }

  &.active {
    svg.default {
      opacity: 1;
    }
  }

  &.hovered,
  &.selected {
    svg.default {
      display: none;
    }

    svg.hover {
      display: inline-block;
    }
  }
}
