.p-input {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  width: 100%;

  input,
  textarea {
    border: 1px solid $input-border;
    border-radius: 4px;

    &::placeholder {
      color: $text-dark-hint;
    }
  }

  input {
    flex-grow: 1;
    height: 64px;
    max-width: 100%;
    padding: 0 $padding-small 0;
    margin-top: 0;
    transition: 150ms;
  }

  textarea {
    flex-grow: 1;
    padding: 12px $padding-small $padding-small;
  }

  // Hover state
  input:hover {
    border-color: $black;
  }

  // Focus state
  &.focused {
    input {
      outline: 0;
      border-color: $peerio-blue;
    }

    .error,
    + .helper-text {
      color: $peerio-blue;
    }
  }

  // Label text
  .label {
    display: flex;
    align-items: center;
    height: 16px;
    position: absolute;
    pointer-events: none;
    top: -8px;
    left: $padding-tiny;
    padding: 0 $padding-tiny;
    transition: top 150ms, font-size 150ms, color 150ms;
    color: $text-dark-secondary;
    background-color: $background-root;
    font-size: 12px;
  }

  // Hint/error text container
  .hint-or-error {
    display: flex;
    height: $padding-default;
    margin-top: $margin-tiny;
    width: 100%;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 150ms;

    &.visible {
      opacity: 1;
    }

    &.hint {
      color: $text-dark-hint;
    }

    &.error {
      color: $color-error;

      .material-icons {
        font-size: 18px;
        color: inherit;
        margin-right: 2px;
      }
    }
  }

  // Error state
  &.has-error {
    input {
      border-color: $color-error;
    }
  }

  // Close button
  .clear-button {
    position: absolute;
    right: 0;
    top: 16px;
  }
}
