.p-menu-header {
  display: flex;
  align-items: flex-start;
  padding: $padding-default;

  .main-content {
    margin-left: $margin-default;
    max-width: 100%;
    min-width: 0;

    .caption {
      @extend %subtitle;
      font-weight: $font-weight-semibold;
      max-width: 100%;
      min-width: 0;

      // Vertical ellipsis
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 18px;
      max-height: 72px;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    .legend {
      color: $text-dark-secondary;
    }
  }
}
